img {
  height: 150px;
  width: 150px;
}

#sunshine {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.weatherCard {
  text-align: center;
  background: skyblue;
  border-radius: 10px;
  box-shadow: 5px, 5px, 15px, 1px grey;
  color: white;
  font-size: large;
  font-weight: 500;
}

.title {
  font-family: "Bangers", cursive;
  font-size: 50px;
}

.subtitle,
.which {
  font-family: "Oswald", sans-serif;
}

.question,
.button,
p {
  font-family: "Open Sans", sans-serif;
}

.drinkNameAndPic {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

img {
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}

h5 {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  text-decoration: underline;
}

h3 {
  font-weight: bold;
  font-size: 30px;
  text-decoration: underline;
}


@media screen and (min-width: 568px) and (max-width: 1023px) {

    .tag__custom {
        height: auto !important;
        word-break: break-word;
        width: 100%;
    }

 .weatherCard{
     margin-right: 5px;
     margin-left: 5px;
 }

 .weatherIcon {
     padding: 0;
 }

}

@media screen and (min-width: 300px) and (max-width: 567px) {

    .tag__custom  {
        height: auto !important;
        word-break: break-word;
        width: 100%;
    }

    #sunshine {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .weatherCard {
        margin-bottom: 10px;
        margin-top: 10px;
        width: 50%;
    }
}



