img {
  height: 150px;
  width: 150px;
}

#sunshine {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.weatherCard {
  text-align: center;
  background: skyblue;
  border-radius: 10px;
  box-shadow: 5px, 5px, 15px, 1px grey;
  color: white;
  font-size: large;
  font-weight: 500;
}

.title {
  font-family: "Bangers", cursive;
  font-size: 50px;
}

.subtitle,
.which {
  font-family: "Oswald", sans-serif;
}

.question,
.button {
  font-family: "Open Sans", sans-serif;
}
